* {
    box-sizing: border-box;
}
body {
    font:  14px Calibri, sans-serif;
    background: #f7fbfe url("../image/background-color.jpg") repeat;
}
a {
    text-decoration: none;
    color: #fff;
}
aside {
    position: fixed;
    top: 90px;
    right: 22px;
    margin-top: 25px;
}
main {
    width: 82%;
    margin: 0 9%;
    background-color: #fafafa;
}
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8 {
    border-left: 1px solid #d7d7d7;
    border-right: 1px solid #d7d7d7;
}
.clearfix:after,
.clearfix:before {
    content: '';
    display: table;
}
.clearfix:after {
    clear: both;
}

/******BLOCK-1*****/


.block-1 {
    height: 25px;
    background-color: #202123;
    text-align: right;
    padding-right: 100px;
}
.block-1-1 {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    margin: 3px 0;
}
.block-1-2 {
    border-left: 2px solid #a7a7a7;
    padding-left: 5px;
}


/******BLOCK-2*****/


.block-2 {
    background: #f7fbfe url("../image/background-color.jpg") repeat;
    height: 115px;
    overflow: hidden;
}
.block-2-1 {
    margin-top: 10px;
    float: left;
}
.block-2-2 {
    float: left;
}
.paragraf-1 {
    display: block;
    color: #6a6c6e;
    font-size: 20px;
    text-shadow: 3px -4px 10px #cbc6cd;
}
.paragraf-2 {
    display: block;
    color: #16579a;
    font-size: 50px;
    text-shadow: 0 0 5px #fff,
                 0 0 5px #333;
}
.paragraf-3 {
    color: #6a6c6e;
    font-size: 30px;
    text-shadow: 3px -3px 5px #cbc6cd;
    vertical-align: sub;
    font-style: italic;
}


/******BLOCK-3*****/


.block-3 {
    height: 30px;
    background-color: #363636;
    transform-style: preserve-3d;
}
.dropdown {
    display: inline-block;
    list-style-type: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    margin: auto;
}
.block-3-1 {
    height: 30px;
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}
.block-3-1:hover, .block-1-1:hover, .container-1:hover {
    color: #f6ce49;
}
.container, .container:after {
    display: none;
}
.container:active {
    width: 130px;
    height: 120px;
    background: #323232;
    position: relative;
    top: 6px;
    left: 80px;
    color: #fff;
}
.container:after {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    border-bottom: 10px solid #323232;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    top: -10px;
    left: 20px;
}
.container-1 {
    list-style-type: none;
    text-align: left;
    padding: 5px 0;
}


/******BLOCK-4*****/

#block-4 {
    height: 375px;
    background-color: #ececec;
    transform-style: preserve-3d;
}
.block-4-1 {
    width: 46%;
    float: left;
    margin: 0 2%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.block-4-2 {
    width: 50%;
    float: right;
    height: 300px;
    position: relative;
    border-left: 1px ridge #fff;
    margin-top: 35px;
}
.block-4-1 h1 {
    font-size: 40px;
    font-family: 'AvantGarde',sans-serif;
    height: 90px;
}
.block-4-1 p {
    padding-bottom: 16%;
}
.button-1 {
    font-family: 'Calibri',sans-serif;
    background-color: #4096ee;
    outline: none;
    color: #fff;
    border-radius: 5px;
    height: 45px;
    font-size: 24px;
    float: right;
    border-bottom: 5px solid #1575d8;
}
.slayder {
    position: relative;
}
.slayder figure {
    position: absolute;

}
.picture-1 {
    top: 43px;
    left: 17px;
    z-index: 3;
}
.picture-2 {
    top: 30px;
    left: 38px;
    z-index: 2;
}
.picture-3 {
    top: 15px;
    left: 57px;
    z-index: 1;
}
.switch ol li {
    display: inline-block;
    background-color: #fff;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    margin-right: 1%;
}
.switch ol li:active {
    background-color: #e8c345;
}
.switch {
    width: 65px;
    position: absolute;
    top: 300px;
    left: 150px;
}


/*****BLOCK-5*****/


.block-5 {
    background-color: #fafafa;
    padding: 2% 0 5%;
}
.register {
    width: 30%;
    float: left;
    margin: 1.6%;
    height: 85px;
    border-radius: 5px;
}
.register-1 {
    background: #aed825;
    border-bottom: 5px solid #96c612;
}
.register-2 {
    background: #4a99ea;
    border-bottom: 5px solid #1b72b2;
}
.register-3 {
    background: #ff6a0f;
    border-bottom: 5px solid #d25a02;
}
.register_image {
    position: relative;
    width: 43%;
}
.register_image img:first-child {
    position: absolute;
    top: -16px;
    left: -10px;
}
.register_image img:nth-child(2){
    position: absolute;
    top: -23px;
    left: 0;
}
.register_info {
    float: right;
    width: 57%;
}
.register-2 .register_info {
    padding-top: 23px;
}
.register_info_title {
    font-size: 21px;
    color: #ffffff;
}


/*****BLOCK-6*****/

.tour_text {
    font-size: 18px;
    color: #fafafa;
    background-color: #78797b;
    width: 30%;
    border-radius: 5px;
    padding: 7px;
}

/****BLOCK-7*****/

.block-7 {
    padding-bottom: 50px;
}
.tournament {
    width: 50%;
    float: left;
}
.tournament_text {
    font-size: 20px;
    padding: 10px;
}
.tournament_image{}
.tournament_image_image {
    width: 47%;
    float: left;
    margin-right: 3%;
}
.tournament_image_title {
    width: 50%;
    float: right;
}
.tournament_image_title a {
    color: #539eef;
}
.tournament_image_info {
    font-size: 16px;
}


/*****BLOCK-8*****/


.block-8 {
    border-top: 1px solid #d7d7d7;
    padding: 4% 0;
}
.blocks {
    width: 23%;
    float: left;
    padding-bottom: 3%;
    padding-top: 2%;
    margin-left: 2%;
    border-right: 1px solid #d7d7d7;
}
.blocks:last-child {
    border-right:none;
}
.videos {
    background: url("../image/icon-videos.png") no-repeat left center;
}
.videos:hover {
    background: url("../image/videos_hover.png") no-repeat left center;
}
.photos {
    background: url("../image/icon-photos.png") no-repeat left center;
}
.photos:hover {
    background: url("../image/photos_hover.png") no-repeat left center;
}
.news {
    background: url("../image/icon-news.png") no-repeat left center;
}
.news:hover {
    background: url("../image/news_hover.png") no-repeat left center;
}
.schools {
    background: url("../image/icon-schools.png") no-repeat left center;
}
.schools:hover {
    background: url("../image/schools_hover.png") no-repeat left center;
}
.blocks a,
.blocks p {
    padding-left: 25%;
}
.blocks a {
    font-size: 18px;
    color: #343434;
}
.blocks:hover a {
    color: #5ca6f1;
}
.blocks p {
    font-size: 12px;
}


/*****FOOTER*****/


footer {
    background: linear-gradient(#595c5e, #57595b, #202223);
    padding: 2% 9%;

    border: 1px solid transparent;
    border-image: url(../image/border_up.png) ;
    border-image-slice: 100% 0;
    border-image-repeat: round;
    border-image-width: 3px;
    border-image-outset: 3px;
}
.group {
    width: 25%;
    float: left;
}
.group-1 {
   transform-style: preserve-3d;
}
.group-1 p {
    padding: 5px 0 4px 10px;
    margin-right: 10%;
}
.group h2 {
    font-size: 18px;
    color: #faed75;
    border-bottom: 1px solid #7d7e80;
    padding: 0 0 4px 10px;
    margin-right: 10%;
}
.group a {
    display: block;
    padding: 5px 0 0 10px;
}
.group p {
    color: #fff;
}
.group_icon {
    position: relative;
    top: 50%;
    transform: translateY(50%);
}
.group_icon_image {
    vertical-align: middle;
}
.group_icon_title {
    display: inline-block;
    font-family: Arial;
    color: #fff;
}